lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.tar.gz
.idea
.rebooted
*.orig

dump.rdb

pids
logs
results
run
build

*~
*.swp
*.swo

npm-debug.log
.DS_Store

# Ignore dev dependencies
node_modules

*.o
*.a
*.lock-wscript

.sass-cache/
bower_components/

*.sublime-project
*.sublime-workspace

# Ignore Bundler stuff and Ruby libs
.bundle
Gemfile.lock
